@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap");
:root {
  --black-color: #1e1e1e;
  --white-color: #ececec;
  --primary-color: #fc7269;
  --main-bg-color: var(--white-color);
  --reverse-bg-color: var(--black-color);
  --main-text-color: var(--black-color);
  --reverse-text-color: var(--white-color);
}

body {
  font-family: "Uniform", sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 14px;
  user-select: none;
}

h1 {
  font-weight: 900;
  font-size: 34px;
  margin-bottom: 0.5em;
}

h2 {
  font-weight: 900;
  font-size: 80px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}

h3 {
  font-weight: 900;
  font-size: 34px;
  line-height: 1;
  margin-bottom: 0.25em;
}

.lead-text {
  font-family: "Covered By Your Grace", cursive;
  font-size: 24px;
}
.lead-text-secondary {
  font-family: "Uniform", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}
a:hover, a:focus, a:active {
  color: var(--primary-color);
  text-decoration: none;
}

@font-face {
  font-family: "Uniform";
  src: url("/Uniform.6f47e7e3.eot");
  src: url("/Uniform.6f47e7e3.eot?#iefix") format("embedded-opentype"), url("/Uniform.5ef2ce6a.woff2") format("woff2"), url("/Uniform.da5f412a.woff") format("woff"), url("/Uniform.a4e89730.ttf") format("truetype"), url("/Uniform.a53fd50c.svg#../assets/fonts/Uniform") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Uniform";
  src: url("/Uniform-Ultra.190ca980.eot");
  src: url("/Uniform-Ultra.190ca980.eot?#iefix") format("embedded-opentype"), url("/Uniform-Ultra.e29dddb1.woff2") format("woff2"), url("/Uniform-Ultra.ab7cc29d.woff") format("woff"), url("/Uniform-Ultra.88afa4fb.ttf") format("truetype"), url("/Uniform-Ultra.1f5b1a9c.svg#../assets/fonts/Uniform-Ultra") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Uniform";
  src: url("/Uniform-Medium.1b92d3fb.eot");
  src: url("/Uniform-Medium.1b92d3fb.eot?#iefix") format("embedded-opentype"), url("/Uniform-Medium.4eea45c8.woff2") format("woff2"), url("/Uniform-Medium.a089f380.woff") format("woff"), url("/Uniform-Medium.f11d9eae.ttf") format("truetype"), url("/Uniform-Medium.f2605c09.svg#Uniform-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
.icon {
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.icon-facebook-white {
  width: 8.2px;
  height: 15px;
  background-image: url("/icon-facebook-white.f1721ea7.svg");
}

.icon-instagram-white {
  width: 15px;
  height: 15px;
  background-image: url("/icon-instagram-white.83ae3d03.svg");
}

.icon-twitter-white {
  width: 18.4px;
  height: 15px;
  background-image: url("/icon-twitter-white.c6f4043a.svg");
}

.icon-spotify-white {
  width: 20px;
  height: 20px;
  background-image: url("/icon-spotify-white.968ebb53.svg");
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  background-color: var(--reverse-bg-color);
  border-radius: 30px;
  padding: 5px 10px;
  margin: 20px 0 0 0;
}
.menu-item {
  margin-left: 30px;
}
.menu-item.logo {
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
}
.menu-item.icon-item {
  margin-left: 20px;
}
.menu-link {
  color: var(--reverse-text-color);
  text-decoration: none;
}
.menu-link:hover, .menu-link:focus, .menu-link:active {
  color: var(--primary-color);
  text-decoration: none;
}
.menu-link.logo-link {
  display: inline-block;
}
.menu-link.logo-link:hover, .menu-link.logo-link:focus, .menu-link.logo-link:active {
  color: var(--reverse-text-color);
}

.hero {
  padding: 100px 0;
}
.hero-title {
  margin-top: 1.8em;
}
.hero-lead {
  text-align: center;
  font-size: 40px;
  position: relative;
  top: -25px;
}

.btn-flowium {
  display: inline-block;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  padding: 7px 10px 6px 11px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}
.btn-flowium:hover {
  color: var(--main-text-color);
  background-color: var(--primary-color);
  transition: 200ms;
}

.side-by-side {
  background: center/cover url("/background-black.17d75dce.svg") no-repeat;
  padding: 97px 0;
}
.side-by-side .iframe-container {
  width: 525px;
  margin: 0 auto;
}
.side-by-side-title, .side-by-side-text {
  color: var(--reverse-text-color);
}

.genres {
  padding: 33px 0 28px 0;
}
.genres-title {
  text-align: center;
}

.genrecard-img-container {
  margin-bottom: 1.5em;
}
.genrecard-text {
  height: 231px;
}

.whoarewe {
  background: center/cover url("/background-black.17d75dce.svg") no-repeat var(--reverse-bg-color);
  padding: 100px 0 100px;
}
.whoarewe-wrapper {
  background: center/contain url("/background-organic-gray.1a4d42e8.svg") no-repeat;
  width: 1310px;
  margin: 0 auto;
}
.whoarewe-content {
  padding: 100px 0 100px;
}
.whoarewe-title {
  font-size: 147px;
  margin: 0;
}
.whoarewe-text {
  width: 90%;
  text-align: center;
  font-size: 20px;
  margin: 0 auto 1em;
}

.main-footer {
  background-color: var(--reverse-bg-color);
  padding: 30px 0;
}

.social-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social-item {
  display: inline-block;
  margin: 0 10px;
}

.social-link {
  display: inline-block;
}

/*# sourceMappingURL=/main.0d3aeac4.css.map */