@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
	font-family: 'Playfair Display', serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	width: 50%;
	text-align: center;
}
