.genres {
	padding: 33px 0 28px 0;

	&-title {
		text-align: center;
	}
}

.genrecard {
	&-img-container {
		margin-bottom: 1.5em;
	}
	&-text {
		height: 231px;

		@include lg {
			height: 280px;
		}

		@include md {
			height: 405px;
		}
	}
}
