.hero {
	padding: 100px 0;

	&-title {
		margin-top: 1.8em;

		@include lg {
			margin-top: 0.5em;
		}
	}

	&-lead {
		text-align: center;
		font-size: 40px;
		position: relative;
		top: -25px;

		@include lg {
			font-size: 30px;
			top: -15px;
		}
	}
}
