.icon {
	display: inline-block;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.icon-facebook-white {
	width: 8.2px;
	height: 15px;
	background-image: url('../assets/img/icon-facebook-white.svg');
}

.icon-instagram-white {
	width: 15px;
	height: 15px;
	background-image: url('../assets/img/icon-instagram-white.svg');
}

.icon-twitter-white {
	width: 18.4px;
	height: 15px;
	background-image: url('../assets/img/icon-twitter-white.svg');
}

.icon-spotify-white {
	width: 20px;
	height: 20px;
	background-image: url('../assets/img/icon-spotify-white.svg');
}
