@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace&display=swap');

:root {
	--black-color: #1e1e1e;
	--white-color: #ececec;
	--primary-color: #fc7269;

	--main-bg-color: var(--white-color);
	--reverse-bg-color: var(--black-color);
	--main-text-color: var(--black-color);
	--reverse-text-color: var(--white-color);
}

body {
	font-family: 'Uniform', sans-serif;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
	font-size: 14px;
	user-select: none;
}

h1 {
	font-weight: 900;
	font-size: 34px;
	margin-bottom: 0.5em;
}

h2 {
	font-weight: 900;
	font-size: 80px;
	line-height: 1;
	text-transform: uppercase;
	margin-bottom: 0.5em;
}

h3 {
	font-weight: 900;
	font-size: 34px;
	line-height: 1;
	margin-bottom: 0.25em;
}

.lead-text {
	font-family: 'Covered By Your Grace', cursive;
	font-size: 24px;

	&-secondary {
		font-family: 'Uniform', sans-serif;
	}
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--text-color);
	text-decoration: underline;

	&:hover,
	&:focus,
	&:active {
		color: var(--primary-color);
		text-decoration: none;
	}
}

@import './font-face.scss';
@import './icons.scss';
@import './main-header.scss';
@import './hero.scss';
@import './btn-flowium.scss';
@import './side-by-side.scss';
@import './genres.scss';
@import './whoarewe.scss';
@import './main-footer.scss';
