.main-header.menu-active {
	.menu {
		height: auto;
	}
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style-type: none;
	background-color: var(--reverse-bg-color);
	border-radius: 30px;
	padding: 5px 10px;
	margin: 20px 0 0 0;
	position: relative;

	@include xs {
		display: block;
		padding: 15px;
		height: 50px;
	}

	&-item {
		margin-left: 30px;

		@include xs {
			margin-bottom: 20px;
		}

		&.logo {
			display: inline-block;
			margin-left: 0;
			margin-right: auto;

			@include xs {
				margin-bottom: 40px;
			}
		}

		&.icon-item {
			@include xs {
				display: inline-block;
				margin-top: 10px;
			}
		}

		&.hamburger-item {
			margin: 0;
			position: absolute;
			top: 15px;
			right: 15px;
			display: none;

			@include xs {
				display: inline-block;
			}
		}
	}

	&-link {
		color: var(--reverse-text-color);
		text-decoration: none;

		&:hover,
		&:focus,
		&:active {
			color: var(--primary-color);
			text-decoration: none;
		}

		&.logo-link {
			display: inline-block;

			&:hover,
			&:focus,
			&:active {
				color: var(--reverse-text-color);
			}
		}
	}
}

.btn-hamburger {
	width: 20px;
	height: 20px;
	background-color: var(--main-bg-color);
	border-radius: 50%;
	border: none;
	outline: none;

	&:active,
	&:focus,
	&:hover {
		outline: none;
	}
}
