// media queries

$screen-xs-max: 576px;
$screen-sm-min: 578px;
$screen-md-min: 720px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// how to use?
// p {
//     @include sm {
//         font-size: 15px;
//     }
// }

// Extra small
@mixin xs {
	@media (max-width: #{$screen-xs-max}) {
		@content;
	}
}

// Small
@mixin sm {
	@media (max-width: #{$screen-md-min}) {
		@content;
	}
}

// Medium
@mixin md {
	@media (max-width: #{$screen-lg-min}) {
		@content;
	}
}

// Larger
@mixin lg {
	@media (max-width: #{$screen-xl-min}) {
		@content;
	}
}

// Extra Large
@mixin xl {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

// Custom
@mixin custom($custom-width) {
	@media #{$custom-width} {
		@content;
	}
}
