.side-by-side {
	background: center/cover url('../assets/img/background-black.svg') no-repeat;
	padding: 100px 0;

	@include xs {
		padding: 100px 0 150px;
	}

	.iframe-container {
		width: 100%;
		margin: 0 auto;
	}

	&-title,
	&-text {
		color: var(--reverse-text-color);
	}

	&-btn {
		margin-bottom: 50px;
	}
}
