.side-by-side {
	background: center/cover url('../assets/img/background-black.svg') no-repeat;
	padding: 97px 0;

	.iframe-container {
		width: 525px;
		margin: 0 auto;
	}

	&-title,
	&-text {
		color: var(--reverse-text-color);
	}
}
